@tailwind base;
@tailwind components;
@tailwind utilities;

body {
background-image: url("jej.jpg");
background-size: cover;
}
nav {
    background-color: black;
    border: 0cap;
    border-bottom: 0cap;
    border-radius: 2px;
}